### Importing Libraries

In [ ]:
# --- Basic imports ---
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# --- ML imports ---
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# --- Display settings ---
pd.set_option('display.max_columns', None)
sns.set(style="whitegrid", palette="pastel")

print("Successfully imported all libraries.")

### Loading Dataset

In [ ]:
# Loading dataset
df = pd.read_csv("../data/data.csv")

# Showing basic info
print("Dataset loaded successfully!")
print(f"Shape: {df.shape}") # Printing shape of the dataset
df.head()  # Display first five rows

Dataset loaded successfully!
Shape: (1341, 6)

  LOCATION  TIME  PC_HEALTHXP  PC_GDP  USD_CAP  TOTAL_SPEND
0      AUS  1971       15.992   0.726   33.990       439.73
1      AUS  1972       15.091   0.685   34.184       450.44
2      AUS  1973       15.117   0.681   37.956       507.85
3      AUS  1974       14.771   0.754   45.338       622.17
4      AUS  1975       11.849   0.682   44.363       616.34

In [ ]:
# Info about data types and missing values
df.info()

print("\n--- Missing Values ---")
print(df.isnull().sum()) # Displaying missing values per column

print("\n--- Descriptive Statistics ---")
display(df.describe()) # Displaying descriptive statistics (mean, std, min, max, etc.)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1341 entries, 0 to 1340
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOCATION     1341 non-null   object
 1   TIME         1341 non-null   int64
 2   PC_HEALTHXP  1341 non-null   float64
 3   PC_GDP       1341 non-null   float64
 4   USD_CAP      1341 non-null   float64
 5   TOTAL_SPEND  1341 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 63.0+ KB

--- Missing Values ---
LOCATION       0
TIME           0
PC_HEALTHXP    0
PC_GDP         0
USD_CAP        0
TOTAL_SPEND    0
dtype: int64

--- Descriptive Statistics ---

              TIME  PC_HEALTHXP       PC_GDP      USD_CAP    TOTAL_SPEND
count  1341.000000  1341.000000  1341.000000  1341.000000    1341.000000
mean   2001.134228    16.632877     1.215524   338.278398   14439.322088
std      14.093659     6.613320     0.479568   226.158326   43259.358895
min    1970.000000     5.545000     0.207000     3.628000       5.810000
25%    1990.000000    11.849000     0.802000   144.592000     756.280000
50%    2004.000000    15.238000     1.187000   317.795000    2786.190000
75%    2013.000000    20.580000     1.524000   496.858000    8794.360000
max    2022.000000    40.239000     2.870000  1432.309000  475596.740000